<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<h1>ユーザ 編集</h1>
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :名前 %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :Eメール %><br />
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>