<h1><%= t 'users.index.title' %></h1>
<%= link_to('新規作成', new_user_path) %>

<% @users.each do |user| %>
  <p>
    <%= t 'activerecord.attributes.user.name' %>: <%= user.name %>
    <%= t 'activerecord.attributes.user.email' %>: <%= user.email %>
    <%= link_to('詳細', user_path(user.id)) %>
  </p>
<% end %>
